<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Resumen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
      <canvas #doughnutCanvas></canvas>
      <ion-card-header>
        <ion-card-subtitle>Marzo 2019</ion-card-subtitle>
        <ion-card-title>GASTOS</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Distribución de los gastos registrados para el período marzo 2019.</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-grid>    
            <ion-row class="row-header row-border">
              <ion-col class=" col-border text-center">Concepto</ion-col>
              <ion-col class=" col-border text-center">Ingreso</ion-col>
              <ion-col class=" col-border text-center">Egreso</ion-col>
              <ion-col class=" col-border text-center">Saldo</ion-col>
            </ion-row>
            <ion-row class="row-child row-border mt-1 p-0 ">
                <ion-col class=" col-border text-center">Sueldo</ion-col>
                <ion-col class=" col-border text-center">$36.987</ion-col>
                <ion-col class=" col-border text-center"></ion-col>
                <ion-col class=" col-border text-center">$36.987</ion-col>
              </ion-row>
              <ion-row class="row-child row-border mt-1 p-0 ">
                  <ion-col class=" col-border text-center">Viaticos</ion-col>
                  <ion-col class=" col-border text-center"></ion-col>
                  <ion-col class=" col-border text-center">$1000</ion-col>
                  <ion-col class=" col-border text-center">$35.987</ion-col>
                </ion-row>
          </ion-grid>
    </ion-card>
    
</ion-content>
