<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Tarjeta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="top" horizontal="end" edge slot="fixed" >
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
  <ion-card>
    <ion-grid>
      <ion-row class="row-header row-border">
        <ion-col class=" col-border text-center">Fecha</ion-col>
        <ion-col class=" col-border text-center">Concepto</ion-col>
        <ion-col class=" col-border text-center">Cuota</ion-col>
        <ion-col class=" col-border text-center">Importe</ion-col>
      </ion-row>
      <ion-row class="row-child row-border mt-1 p-0 " *ngFor="let consumo of aConsumos">
        <ion-col class=" col-border text-center">{{consumo.fechaConsumo}}</ion-col>
        <ion-col class=" col-border text-center">{{consumo.conceptoConsumo}}</ion-col>
        <ion-col class=" col-border text-center">C.{{consumo.cuotaActual|number:'2.0-0'}}/{{consumo.cuotas|number:'2.0-0'}}</ion-col>
        <ion-col class=" col-border text-center">{{consumo.montoCuota}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>